body {
  background-color:   #000000ee;
  color: #fff;
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

.App {
  text-align: center;
  display: flex;
  justify-content: center;
  height: 100vh;
  flex-direction: column;
}

form {
  display: inline-block;
  text-align: left;
  margin-top: 20px;
}

div {
  /* margin-bottom: 10px; */
}

label {
  display: inline-block;
  width: 100px;
}

input {
  padding: 5px;
  width: 200px;
}

button {
  padding: 10px 20px;
  font-size: 16px;
}

h2 {
  margin-top: 20px;
}
